Define "media format"

RFC 7798, Section 7.2.2 says: 
“The parameters identifying a media format configuration for HEVC are profile-space, profile-id, tier-flag, level-id, interop-constraints, profile-compatibility-indicator, and tx-mode.  These media configuration parameters, except level-id, MUST be used symmetrically when the answerer does not include recv-sub-layer-id in the answer for the media format (payload type) or the included recv-sub-layer-id is equal to sprop-sub-layer-id in the offer.”

Problem: The "media format" parameters must match exactly between Offer and Answer. Since level-id is an exception to the symmetry requirement, it isn't part of the "media format". 

Proposal: Define "media format" to include the MIME type, profile-id, tier-flag, and tx-mode.


